---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Our Work - ${SITE_TITLE}`} description="Learn about our work" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Our Work</h1>
			<p>Learn more about the work we do:</p>
			<ul>
				<li><a href="https://fairwarehouses.org/" target="_blank" rel="noopener noreferrer">Philly Fair Warehouses</a></li>
				<li><a href="/our-work/amazon">Amazon</a></li>
				<li><a href="/our-work/our-coalition">Our Coalition</a></li>
				<li><a href="/our-work/advanced-organizer-training-program">Advanced Organizer Training Program</a></li>
				<li><a href="/our-work/strategic-support-for-peoples-actions">Strategic Support for People's Actions</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>

